* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F4F9;
    color: #3B4252;
    font-family: 'Arial', sans-serif;
}

h1 span {
    display: inline-block;
    font-weight: 500;
    margin: 10px 0 20px 0;
}

a {
    color: #ECEFF4;
    text-decoration: none;
}

header {
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background: #4C566A;
    color: #ECEFF4;
    border-bottom: 2px solid #2E3440;
}

header h2 {
    text-align: center;
}

header span {
    font-size: 24px;
    font-weight: bold;
}

.banner {
    min-height: 500px;
    background: url("images/image.jpg") center no-repeat;
    background-size: cover;
    color: #ECEFF4;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: #4C566A;
    border: 2px solid #2E3440;
    border-radius: 15px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 22px;
}

.insta a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.insta a:hover {
    color: #ECEFF4;
}

.button {
    appearance: none;
    background-color: #5E81AC;
    border: 2px solid #2E3440;
    border-radius: 15px;
    box-sizing: border-box;
    color: #ECEFF4;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.banner button {
    margin-top: 40px;
}

.button:disabled {
    pointer-events: none;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    background-color: #81A1C1;
}

.button:active {
    box-shadow: none;
    transform: translateY(0);
}

main {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: unset;
    border-top: 2px solid #2E3440;
    border-bottom: 2px solid #2E3440;
    background-color: #D8DEE9;
}

main h2, main h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #2E3440;
}

h3 {
    font-size: 22px;
}

main *:not(ul) {
    text-align: center;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.services span {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.services ul {
    list-style: none;
}

.services li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-size: 18px;
    color: #4C566A;
    text-align: left;
}

.services li:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPg0KPHN2ZyB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xMiAyMkMxNy41IDIyIDIyIDE3LjUgMjIgMTJDMjIgNi41IDE3LjUgMiAxMiAyQzYuNSAyIDIgNi41IDIgMTJDMiAxNy41IDYuNSAyMiAxMiAyMloiIHN0cm9rZT0iIzI5MkQzMiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPg0KPHBhdGggZD0iTTcuNzUgMTJMMTAuNTggMTQuODNMMTYuMjUgOS4xNzAwNCIgc3Ryb2tlPSIjMjkyRDMyIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+DQo8L3N2Zz4=");
    background-size: 18px;
    background-repeat: no-repeat;
}

.list-one, .list-two {
    min-width: 300px;
}

.summary p {
    font-size: 24px;
    color: #2E3440;
}

footer {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    background: #4C566A;
    color: #ECEFF4;
    font-size: 20px;
}

footer .insta {
    font-size: 20px;
}

@media screen and (max-width: 420px) {
    .heading-first {
        max-width: 300px;
    }
}

@media screen and (min-width: 440px) {
    .list-one, .list-two {
        width: 400px;
    }
}